include LICENSE
include README.md
include CHANGELOG.md
include PUBLISHING.md
include TESTING.md
include RUNNING-ON-LEROBOT.md
include ROADMAP.md
recursive-include tests *.py
recursive-include examples *.md *.py
recursive-include web *.py *.html *.md
include web/Dockerfile
